<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<table class="table table-striped">
  <caption>Lista de todas las reservas</caption>
  <thead>
  <tr>
    <th id= "id" scope="col">#</th>
    <th id="nombre" scope="col">nombre</th>
    <th id="categoria" scope="col">categoria</th>
    <th id="fechaReserva" scope="col">fechaReserva</th>
    <th id ="idUsuario" scope="col">idUsuario</th>
    <th id="obsequio" scope="col">obsequio</th>
    <th id="precio" scope="col">precio</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reserva of listaReservas">
    <th scope="row">{{reserva.id}}</th>
    <td>{{reserva.nombre}}</td>
    <td>{{reserva.categoria}}</td>
    <td>{{reserva.fechaReserva}}</td>
    <td>{{reserva.idUsuario}}</td>
    <td>{{!reserva.obsequio}}</td>
    <td>{{reserva.precio}}</td>
  </tr>
  </tbody>
</table>
<button id="back" routerLink="/menu" type="button" class="btn btn-dark">Atras</button>
