<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="image">
  <div class="jumbotron">
    <h1 class="display-4">Hola, {{nombre}} !</h1>
    <p class="lead">Tu id de usuario es {{id}}, no lo olvides!.</p>
  </div>

<nav>
  <ul class="menu">
    <li><a id="lista" routerLink="/reserva/listar-reservas">Listar</a></li>
    <li><a id ="reservar" routerLink="/reserva/reservar">Reservar</a></li>
    <li><a id="lista reservas" routerLink="/reserva/reserva-usuario">Tus Reservas</a></li>
  </ul>
</nav>

</div>
